In [169]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql.types import StringType, StructType, IntegerType, DateType, StructField
from pyspark.sql.functions import lower, explode, regexp_replace, split, col

In [171]:
spark = SparkSession.builder \
    .appName("Some movies..") \
    .getOrCreate()

In [173]:
path = "C:/Users/VO7/Downloads/movies.csv"

In [175]:
df = spark.read.csv(path, header = True)

In [177]:
df.show(20, 50)

+-----------------------------------+---------+---------------------+----------------+-------------+-----------------+---------------+----+
|                               Film|    Genre|          Lead Studio|Audience score %|Profitability|Rotten Tomatoes %|Worldwide Gross|Year|
+-----------------------------------+---------+---------------------+----------------+-------------+-----------------+---------------+----+
|         Zack and Miri Make a Porno|  Romance|The Weinstein Company|              70|  1.747541667|               64|        $41.94 |2008|
|                    Youth in Revolt|   Comedy|The Weinstein Company|              52|         1.09|               68|        $19.62 |2010|
| You Will Meet a Tall Dark Stranger|   Comedy|          Independent|              35|  1.211818182|               43|        $26.66 |2010|
|                       When in Rome|   Comedy|               Disney|              44|            0|               15|        $43.04 |2010|
|              What Happens in Vegas|   Comedy|                  Fox|              72|  6.267647029|               28|       $219.37 |2008|
|                Water For Elephants|    Drama|     20th Century Fox|              72|  3.081421053|               60|       $117.09 |2011|
|                             WALL-E|Animation|               Disney|              89|  2.896019067|               96|       $521.28 |2008|
|                           Waitress|  Romance|          Independent|              67|   11.0897415|               89|        $22.18 |2007|
|                Waiting For Forever|  Romance|          Independent|              53|        0.005|                6|         $0.03 |2011|
|                    Valentine's Day|   Comedy|         Warner Bros.|              54|  4.184038462|               17|       $217.57 |2010|
|Tyler Perry's Why Did I get Married|  Romance|          Independent|              47|    3.7241924|               46|        $55.86 |2007|
|            Twilight: Breaking Dawn|  Romance|          Independent|              68|  6.383363636|               26|       $702.17 |2011|
|                           Twilight|  Romance|               Summit|              82|  10.18002703|               49|       $376.66 |2008|
|                     The Ugly Truth|   Comedy|          Independent|              68|  5.402631579|               14|       $205.30 |2009|
|        The Twilight Saga: New Moon|    Drama|               Summit|              78|      14.1964|               27|       $709.82 |2009|
|           The Time Traveler's Wife|    Drama|            Paramount|              65|  2.598205128|               38|       $101.33 |2009|
|                       The Proposal|   Comedy|               Disney|              74|       7.8675|               43|       $314.70 |2009|
|             The Invention of Lying|   Comedy|         Warner Bros.|              47|  1.751351351|               56|        $32.40 |2009|
|                 The Heartbreak Kid|   Comedy|            Paramount|              41|  2.129444167|               30|       $127.77 |2007|
|                        The Duchess|    Drama|            Paramount|              68|  3.207850222|               60|        $43.31 |2008|
+-----------------------------------+---------+---------------------+----------------+-------------+-----------------+---------------+----+
only showing top 20 rows

In [179]:
words = df.select(explode(split(regexp_replace(lower(col("Film")), r"[^a-zA-Z0-9\s]", ""), r"\s+")).alias("word"))

In [181]:
filter_words = set(["the", "and", "a", "of", "to", "in", "is", "it", "you", "that", "for", "on", "with", "as", "this", "by"])

In [183]:
filtered_words_df = words.filter(~col("word").isin(filter_words))

In [185]:
word_counts = filtered_words_df.groupBy("word").count()

In [187]:
most_common_word = word_counts.orderBy(col("count").desc()).first()

In [191]:
if most_common_word:
    print(f"Самое частое слово: '{most_common_word['word']}', которое встречается {most_common_word['count']} раз).")
else:
    print("Не найдено ни одного слова после фильтрации.")

Самое частое слово: 'love', которое встречается 4 раз).

In [193]:
spark.stop()